#root {
  margin: auto;
  text-align: center;
  button {
    background-color: yellow;
    border: 2px solid black;
  }
}
@font-face {
  font-family: "pokemon";
  src: url("./assets/fonts/PocketMonk-15ze.ttf") format("truetype");
}

#form-creation {
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  input {
    height: 2rem;
    width: auto;
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
}
#back {
  font-size: 2rem;
  margin-top: 2rem;
}
#pokemon-card {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-size: x-large;
  img {
    max-width: 80%;
  }
}
span {
  font-family: monospace;
}

#nav-bar {
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
